.item{
    display: grid;
    grid-template-columns: 1fr 7fr;
    background-color: #66747A;
    color: #f7f8f9;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
  }
  .item img{
      width: 70px;
      height: 70px;
      border-radius: 40px;
  }
  .like_color{
      padding-right: 50px;
      text-align: right;
      color: red;
  }

  .massageLike{
      padding-left:5px ;
      text-align: left;
      display: grid;
      grid-template-rows:1fr 25px;
  }