.Mypost{
    display: grid;
    grid-template-rows: 110px 1fr;
   
}

.Textarea{
    display: grid;
    grid-template-columns: 1fr 7fr;
    margin: 4px;
    border-radius: 5px;
    background-color: #66747A;
}

.ava{
    padding: 5px;
    text-align: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.textarea{
    width: 97.5%; 
    height: 60px;
    margin: 4px;
    border-radius: 5px;
    resize: none;
}

 button{
    width: 15%; 
    margin-left: 20px;
    background-color:#1bc47d;
    color: #F7F8F9;
    border-radius: 5px;
}

.MyPostName{
    text-align: center;
    background-color: #333333;
    border-radius: 10px;
    margin: 2px;
    color: #F7F8F9;
}
