

.formControl{
    
}
.error {
    & input, textarea{
        border: solid red 1px;
    }
    & span{
        color:red;
        margin: 0
    }
}

.formSummaryError{
    border: red 1px solid;
    padding: 5px;
    color: rosybrown;
}
