@import '../../styles/sass/variables.scss';
@import '../../styles/sass/mixins.scss';

.nav {
  grid-area: n;
  background: $bgColor;
  text-align: center;

  .navContainer {
    margin: 30px 10px 0 10px;
    background: $blokColor;
    border-radius: 5px;
  }
}
