.MytextMesage{

  text-align: left;
  margin: 10px;
  padding: 10px;
  border-radius: 5px 5px 5px 0;
  background-color: #333333; 

}

.YoutextMesage{
  text-align: right;
  margin: 10px;
  padding: 10px;
  border-radius: 5px 5px 0 5px;
  background-color: #db710d; 

}